/* Change this to a range bg */
* {
  font-family: Consolas; 
  color: #0ff;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background-color: #111;
}
h1 {
  position: relative;
}
h1::before {
  content:'>';
  position: absolute;
  transform: translateX(-40px);
}
h1::after {
  content: '_';
  position: absolute;
  transform: translateX(10px);
}
a {
  color: #f00;
  text-decoration: none;
  position: relative;
  z-index:2;
}
a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0px;
  background-color: #f00;
  z-index:-1;
}
a:hover {
  color: #000 !important;
}
a:hover::before {
  height: 115% !important;
}



/* It goes; section -> div -> content */
section {
  background-color: #222;
  width: 90%;
  max-width: 500px;
  margin: 0px auto;
  padding: 50px 100px;
}
section>div {
  background-color: #333;
  padding: 0px auto;
}




/* Navigation Section Div */
section>div:first-child {
  
}
section>div:first-child>ul {
  list-style: none;
}
section>div:first-child>ul>li {
  display: inline-block;
}


/* Header Section Div */
section>div:nth-child(n+2) {
  padding: 50px 0px;
}


/* Content Section Div */
section>div:nth-child(n+3) {
  
}

